<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Template</title>
  </head>
  <body>
    <div class="container">
      <h2>This Is A Header</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, consectetur, neque odio autem atque eius vitae veniam velit nisi aliquam unde provident ut praesentium dolorum sapiente quaerat placeat nostrum fugit?</p>
    </div>
  </body>
</html>
